In [9]:
import requests
import pandas as pd
url = "https://www.fruityvice.com/api/fruit/all"

r = requests.get(url)
print(f"Status Code: {r.status_code}")

Status Code: 200

In [10]:
if r.ok:
    data = r.json()
else:
    raise Exception(f"API call failed: {r.status_code}\n{r.text}")

In [11]:
df = pd.json_normalize(data)
df.head()

,name,id,family,order,genus,nutritions.calories,nutritions.fat,nutritions.sugar,nutritions.carbohydrates,nutritions.protein
0,Persimmon,52,Ebenaceae,Rosales,Diospyros,81,0.0,18.0,18.0,0.0
1,Strawberry,3,Rosaceae,Rosales,Fragaria,29,0.4,5.4,5.5,0.8
2,Banana,1,Musaceae,Zingiberales,Musa,96,0.2,17.2,22.0,1.0
3,Tomato,5,Solanaceae,Solanales,Solanum,74,0.2,2.6,3.9,0.9
4,Pear,4,Rosaceae,Rosales,Pyrus,57,0.1,10.0,15.0,0.4

In [12]:
df_simple = df[[
    'name',
    'family',
    'genus',
    'order',
    'nutritions.carbohydrates',
    'nutritions.protein',
    'nutritions.fat',
    'nutritions.calories',
    'nutritions.sugar'
]]

df_simple.head()

,name,family,genus,order,nutritions.carbohydrates,nutritions.protein,nutritions.fat,nutritions.calories,nutritions.sugar
0,Persimmon,Ebenaceae,Diospyros,Rosales,18.0,0.0,0.0,81,18.0
1,Strawberry,Rosaceae,Fragaria,Rosales,5.5,0.8,0.4,29,5.4
2,Banana,Musaceae,Musa,Zingiberales,22.0,1.0,0.2,96,17.2
3,Tomato,Solanaceae,Solanum,Solanales,3.9,0.9,0.2,74,2.6
4,Pear,Rosaceae,Pyrus,Rosales,15.0,0.4,0.1,57,10.0